body {
    background-color: rgb(238, 243, 223);
}

.container {
    position: absolute;
    left: 35%;
    top: 20%;
}

.card-body {
    width:500px;
    height:270px;
    font-size: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 30%;
    padding: 10px;
}

.form-control {
    justify-content: space-around;
    margin: 5px;
    padding: 10px;
}

.btn-save {
    border:1px solid;
    background: rgb(181, 223, 157);
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: Verdana;
    font-weight: bold;
    font-size: 20px;
    padding: 6px 10px;
    text-decoration: none;
}

.btn-cancel {
    border: 1px solid;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: Verdana;
    font-size: 20px;
    padding: 6px 10px;
    text-decoration: none;
    margin-left: 325px;
}