   .table {
      background-color: white;
      border: 1px solid red;
      width: 50% !important;
      margin: auto;
  }

.btn-edit {
    border:1px solid;
    background: rgb(181, 223, 157);
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
    padding: 6px 10px;
    text-decoration: none;
}

.btn-del {
    border:1px solid;
    background: rgb(247, 150, 150);
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
    padding: 6px 10px;
    text-decoration: none;
    margin-left: 20px;
}

.btn-view {
    border:1px solid;
    background: rgb(233, 233, 165);
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
    padding: 6px 10px;
    text-decoration: none;
}