* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 25px;
}

.menu-superior {
    background:rgb(207, 231, 193); 
}

.menu-superior ul {
    max-width: 800px;
    list-style: none;
    padding: 0;

}

.menu-superior ul li {
    display: inline;
}

.menu-superior ul li a {
color: darkblue;
padding: 20px;
display: inline-block;
text-decoration: none;
transition: background .4s;
}

.menu-superior ul li a:hover {
    background-color: rgb(253, 253, 253)
}
